<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FuturoCo | Correo Verificado</title>
</head>
<body style="background-color: black; color: white; display: flex; justify-content: center; align-items: center; height: 90vh;">
    <div style="width: 50%; display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100%;">
        <img src="https://cdn.dribbble.com/users/783963/screenshots/3995765/media/36ee99940bee91165c62ea1c64b2deac.gif" alt="check_image" width="300px">
        <p style="font-family: Arial, Helvetica, sans-serif;">¡El Correo ha sido Verificado correctamente!</p>
    </div>
</body>
</html>